<DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />

      <!-- bootstrap CDN -->

      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous"
      />

      <!-- custom css file -->

      <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

      <!-- font awesome -->

      <script src="https://kit.fontawesome.com/a076d05399.js"></script>

      <title>Feedback Success</title>
    </head>

    <body>
      <div class="container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
          <div class="col col-md-4 shadow rounded">
            <h2 class="p-4 text-white bg-dark rounded text-center">
              &#9832;Your Feedback
            </h2>
            <div class="p-3">
              <p class="bg-success text-light p-2 rounded border">
                Thanks for your feedback.<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
</DOCTYPE>
